@use './fonts';
@use './palette' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	background: $background-primary;
	color: $text-primary;
}

h1 {
	font-family: "Calvert", sans-serif;
	color: $metro-yellow;
}
