@use './fonts';
@use './palette' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Montserrat", sans-serif;
	background: var(--background-primary);
	color: var(--text-primary);
	min-height: 100vh;
	margin: 0;
}

h1 {
	font-family: "Calvert", sans-serif;
	color: var(--text-header);
	margin: 0;
}

a {
	color: var(--text-primary);
	transition: color 150ms ease-in-out;

	&:hover,
	&:focus {
		color: var(--focus);
	}
}

@media (prefers-reduced-motion) {
	*,
	*::before,
	*::after {
		transition: 0.0001ms !important;
	}
}